* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    text-align: center;
}

#blank_paper {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 980px;
    height: 1386px;
    text-align: center;
}

header {
    margin: 0 auto;
    width: 892px;
    position: relative;
}

#red_block {
    background-color: #de5959;
    width: 110px;
    height: 61px;
    position: relative;
    text-align: left;
}

#separation_line {
    background-color: #938e8c;
    width: 100%;
    height: 2px;
}

.label {
    font-size: 12px;
    font-family: "SimHei", 黑体, sans-serif;
}

#header_link {
    color: white;
    position: absolute;
    bottom: 3px;
    margin-left: 5px;
}

#header_date {
    color: #de5959;
    position: absolute;
    bottom: 5px;
    right: 0;
}

#content {
    /*background-color: grey;*/
    width: 892px;
    margin: 30px auto;
}

#upper_left {
    width: 641px;
    height: 301px;
    position: relative;
    float: left;
}

.mask {
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    opacity: 0.35;
}

#mask_left {
    background-color: green;
}

#mask_right {
    right: 0;
    background-color: #ff4b4b;
}

#first_part {
    position: relative;
    overflow: auto;
}

#red_line {
    height: 2px;
    background-color: #cc8091;
}

#upper_right {
    float: left;
    margin-left: 48px;
    width: 203px;
    text-align: left;
    position: relative;
}

.upper_right_title {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 24px;
    text-decoration: underline;
    font-variant: small-caps;
    text-transform: capitalize;
    line-height: 40px;
}

.intro {
    font-family: "KaiTi", 楷体, sans-serif;
    font-size: 12px;
    color: #676767;
    line-height: 10px;
}

.upper_right_middle {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 116px;
    font-style: italic;
    color: #75b86b;
    position: relative;
    left: -10px;
    line-height: 140px;
}

#label_3_2 {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 55px;
    color: #cc8091;
    float: left;
}

#label_css {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 21px;
    color: #cc8091;
    margin-top: 18px;
}

#label_css_des {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 12px;
    color: grey;
}

.block {
    text-align: left;
}

#block1 {
    margin-top: 20px;
    width: 240px;
    float: left;
}

#green_title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: green;
    line-height: 30px;
}

.block_content {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #231815;
    opacity: 0.7;
}

#block2 {
    margin-top: 20px;
    margin-left: 20px;
    width: 210px;
    float: left;
}

#orange_title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #d2994f;
    line-height: 30px;
}

#block3 {
    margin-top: 20px;
    margin-left: 20px;
    width: 140px;
    float: left;
}

#red_title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #cc7680;
    line-height: 30px;
}

.block_red_content {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    color: #cd4a48;
    opacity: 0.7;
}

#second_part {
    position: relative;
    text-align: left;
}

#second_part_left {
    margin-top: 50px;
    width: 415px;
    position: relative;
}

#left_title {
    font-family: "SimHei", 黑体, sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #11456b;
    margin: 8px 0;
    line-height: 40px;
}

#left_title_first_word {
    font-family: "SimHei", 黑体, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    color: #f5e327;
}

#left_sub_title {
    font-family: "SimHei", 黑体, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #11456b;
    margin: 8px 0;
}

#blue_line {
    width: 100%;
    height: 2px;
    background-color: #11456b;
}

#left_content {
    margin-top: 20px;
    font-family: "SimSun", 宋体, sans-serif;
    font-size: 12px;
    color: #767777;
    line-height: 16px;
    text-align: justify;
    word-break: break-all;
}

#left_content:first-letter {
    float: left;
    font-size: 70px;
    line-height: 50px;
    color: #f5e327;
    padding-top: 15px;
    padding-right: 5px;
    text-transform: uppercase;
}

#lower_left {
    float: right;
    clear: both;
    margin: 15px 5px 15px 20px;
}

.left_content_bottom {
    font-family: "SimSun", 宋体, sans-serif;
    font-size: 12px;
    color: #767777;
    line-height: 16px;
    text-align: justify;
    word-break: break-all;
    text-indent: 2em;
}

#second_part_right {
    position: absolute;
    top: 0;
    right: 0;
}

#second_right_upper {
    position: relative;
    width: 458px;
    height: 257px;
}

#mask_lower {
    width: 100%;
    height: 60px;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    bottom: 0;

}

#mask_lower_title {
    position: absolute;
    left: 60px;
    bottom: 8px;
    border-left: solid #72b16a 3px;
    padding-left: 10px;
    line-height: 44px;
    vertical-align: middle;
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 26px;
    color: white;
}

#mask_lower_sub_title {
    position: absolute;
    left: 180px;
    bottom: 16px;
    vertical-align: middle;
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #72b16a;
}

#second_right_lower {
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    width: 458px;
    height: 318px;
    background-color: #eeeed7;
}

#red_block_lower {
    background-color: #de5959;
    width: 260px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

#red_block_zero {
    position: absolute;
    left: 10px;
    bottom: 37px;
    border-right: solid white 2px;
    padding-right: 5px;
    line-height: 86px;
    vertical-align: middle;
    font-family: "SimHei", 黑体, sans-serif;
    font-size: 120px;
    color: white;
}

#red_block_right {
    width: 160px;
    float: right;
    padding-top: 40px;
}

#red_block_right_big {
    font-family: "SimHei", 黑体, sans-serif;
    font-size: 17px;
    font-style: italic;
    color: white;
    line-height: 24px;
}

#red_block_right_small {
    font-family: "SimHei", 黑体, sans-serif;
    font-size: 12px;
    color: white;
    line-height: 12px;
}

.second_right_lower_content {
    font-family: "SimSun", 宋体, sans-serif;
    font-size: 16px;
    line-height: 35px;
}

.ellipsis {
    margin-left: 3px;
    letter-spacing: 8px;
}

.smaller {
    margin-left: 3px;
    font-size: 12px;
}

.triangle-up {
    position: relative;
    bottom: 17px;
    margin-right: 8px;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #114769;
}

#lower_right {
    width: 180px;
    position: absolute;
    right: 0;
    bottom: 40px;
}

#lower_right_content {
    font-family: "SimHei", 黑体, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: justify;
    width: 140px;
    line-height: 20px;
    position: relative;
}

.double_quote {
    position: relative;
    top: 40px;
    font-family: "SimHei", 黑体, sans-serif;
    font-style: normal;
    font-size: 72px;
    color: #d45d5c;
}

#last {
    position: absolute;
    top: 95px;
    left: 115px;
}

footer {
    margin: 45px auto 0 auto;
    width: 892px;
    position: relative;
}

#footer_separation_line {
    background-color: #938e8c;
    width: 100%;
    height: 1px;
}

#footer_link {
    font-family: "SimHei", 黑体, sans-serif;
    font-size: 12px;
    text-align: right;
    color: #d45d5c;
}
